/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative !important;
	min-height: 302px !important;
	clear: both !important;
	_height: 302px !important;
	zoom: 1 !important; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	width: 250px !important;
	height: 30px !important;
	margin-left: -125px !important;
	margin-top: -15px !important;
	padding: 14px 0 2px 0 !important;
	border: 1px solid #ddd !important;
	text-align: center !important;
	color: #999 !important;
	font-size: 14px !important;
	background-color: white !important;
}

.dataTables_length {
	width: 40% !important;
	float: left !important;
}

.dataTables_filter {
	width: 50% !important;
	float: right !important;
	text-align: right !important;
}

.dataTables_info {
	width: 60% !important;
	float: left !important;
}

.dataTables_paginate {
	width: 44px !important;
	* width: 50px !important;
	float: right !important;
	text-align: right !important;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px !important;
	width: 19px !important;
	margin-left: 3px !important;
	float: left !important;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg') !important;
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg') !important;
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg') !important;
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg') !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto !important;
	clear: both !important;
	width: 100% !important;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0 !important; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	padding: 3px 18px 3px 10px !important;
	border-bottom: 1px solid black !important;
	font-weight: bold !important;
	cursor: pointer !important;
	* cursor: hand !important;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px !important;
	border-top: 1px solid black !important;
	font-weight: bold !important;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa !important;
}

table.display td {
	padding: 3px 10px !important;
}

table.display td.center {
	text-align: center !important;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right !important;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right !important;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right !important;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right !important;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right !important;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
 */
table.display tr.odd.gradeA {
	background-color: #ddffdd !important;
}

table.display tr.even.gradeA {
	background-color: #eeffee !important;
}

table.display tr.odd.gradeC {
	background-color: #ddddff !important;
}

table.display tr.even.gradeC {
	background-color: #eeeeff !important;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd !important;
}

table.display tr.even.gradeX {
	background-color: #ffeeee !important;
}

table.display tr.odd.gradeU {
	background-color: #ddd !important;
}

table.display tr.even.gradeU {
	background-color: #eee !important;
}


tr.odd {
	background-color: #E2E4FF !important;
}

tr.even {
	background-color: white !important;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both !important;
}

.dataTables_scrollBody {
	*margin-top: -1px !important;
}

.top, .bottom {
	padding: 15px !important;
	background-color: #F5F5F5 !important;
	border: 1px solid #CCCCCC !important;
}

.top .dataTables_info {
	float: none !important;
}

.clear {
	clear: both !important;
}

.dataTables_empty {
	text-align: center !important;
}

tfoot input {
	margin: 0.5em 0 !important;
	width: 100% !important;
	color: #444 !important;
}

tfoot input.search_init {
	color: #999 !important;
}

td.group {
	background-color: #d1cfd0 !important;
	border-bottom: 2px solid #A19B9E !important;
	border-top: 2px solid #A19B9E !important;
}

td.details {
	background-color: #d1cfd0 !important;
	border: 2px solid #A19B9E !important;
}


.example_alt_pagination div.dataTables_info {
	width: 40% !important;
}

.paging_full_numbers {
	width: 400px !important;
	height: 30px !important;
	line-height: 25px !important;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #DDDDDD !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	padding: 5px !important;
	margin: 0 3px !important;
	cursor: pointer !important;
	*cursor: hand !important;
	 color: #369BD7;
}

.paging_full_numbers span.paginate_button {
	 border-radius: 3px;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #F5F5F5 !important;
}

.paging_full_numbers span.paginate_active {
	background-color: #F5F5F5 !important;
}

table.display tr.even.row_selected td {
	background-color: #B0BED9 !important;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1 !important;
}


/*
 * Sorting classes for columns
 */


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4 !important;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1 !important;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1 !important;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5 !important;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2 !important;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2 !important;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff !important;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff !important;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff !important;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff !important;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff !important;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff !important;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4 !important;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1 !important;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1 !important;
}

tr.even.gradeX td.sorting_1 {
	background-color: #ffd5d5 !important;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2 !important;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2 !important;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4 !important;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1 !important;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1 !important;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5 !important;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2 !important;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2 !important;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3 !important;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99 !important;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3 !important;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75 !important;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E !important;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89 !important;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99 !important;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C !important;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84 !important;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70 !important;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent !important;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF !important;
}

table.display tr.gradeA {
	background-color: #eeffee !important;
}

table.display tr.gradeC {
	background-color: #ddddff !important;
}

table.display tr.gradeX {
	background-color: #ffdddd !important;
}

table.display tr.gradeU {
	background-color: #ddd !important;
}

