@font-face {
  font-family: 'Circular';
  src: url('../fonts/CircularBold/Circular.eot?#iefix') format('embedded-opentype'),  url('../fonts/CircularBold/Circular.woff') format('woff'), url('../fonts/CircularBold/Circular.ttf')  format('truetype'), url('../fonts/CircularBold/Circular.svg#Circular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularBold';
  src: url('../fonts/CircularBold/CircularBold.eot');
  src: local('â˜º'), url('../fonts/CircularBold/CircularBold.woff') format('woff'), url('../fonts/CircularBold/CircularBold.ttf') format('truetype'), url('../fonts/CircularBold/CircularBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #424242;
  font-size: 19px;
  line-height: 22px;
  background-color: #fff;
  font-family: "Circular", sans-serif;
}

#headmascot {
  margin-top: 15px;
  margin-bottom: 13px;
  width: 1070px;
  margin-right: 20px;
  margin-left: 20px;
}

.container {
  /*border-radius: 5px;*/
  /* background-color: #f2f2f2;*/
  /*padding: 30px;*/
}

.don-content{
  padding: 30px;
}

fieldset{
  border: 0px;
}

input,
button,
select,
textarea, label {
  font-family: 'Circular', sans-serif;
  font-size: 20px;
}
hr {
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
  border: 0;
  height: 1px;
  margin: 22px 0 22px 0;
}
/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  color: #555;
  font-weight: 500;
  margin: 0;
  font-family: 'Circular', sans-serif;
}
h1 {
  font-size: 26px;
  line-height: 26px;
  margin: 0 0 26px 0;
}
h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 0 24px 0;
}
h3 {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 24px;
  margin-bottom: 15px;
}

/*PARAHRAPHS*/
p {
  color: #555;
  line-height: 24px;
  margin: 0 0 20px;
}

/*FORMS*/
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 19px;
  color: #7a7a7a;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  background: #FFF;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  padding: 6px 12px 3px 12px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  border-color: #bbb;
  background: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/* CONTENT */
.main-content{
  display:block;
  margin: 0 auto;
  width: 1190px;
  max-width:100%;
  box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(255, 232, 240, 0.9), -12px 0 15px -4px rgba(255, 232, 240, 0.9); 
  z-index:-1;
}
.main-content-inner {
  padding-bottom: 1.5em;
  width: 1100px;
  margin: 0 auto;
  max-width:100%;
  padding: 30px;

   /* border-radius: 10px;
    
    box-shadow: 12px 0 15px -4px rgba(255, 232, 240, 0.9),
    -12px 0 15px -4px rgba(255, 232, 240, 0.9), 
    12px 0 15px -4px rgba(255, 232, 240, 0.9), 
    -12px 0 15px -4px rgba(255, 232, 240, 0.9); 
    z-index:-1;*/
  }

  /**************************** PAGE HEADER / ARCHIVE HEADER ***************************/
  .page-header {
    margin: 0px;
    padding: 10px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .inner-page-header{
    padding: 10px 15px 5px 15px;
    color: #FFF;
    background-color: #EC1C1C;
    margin-bottom: 30px;
  }
  .inner-page-header-mg{
    padding: 10px 15px 5px 15px;
    color: #FFF;
    background-color: #EC1C1C;
    margin-bottom: 0px;
  }
  .inner-page-header-mg h1,
  .inner-page-header h1 {
    color: #FFF;
    font-size: 42px;
    line-height: 40px;
    margin-bottom: 0px;
  }
  .page-header .page-title {
    margin: 0px;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Circular', sans-serif;
  }
  .archive-header {
    margin: 0px;
    padding: 20px 0;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
  }
  .archive-header .archive-title {
    margin: 0px;
    font-size: 22px;
    color: #333;
    font-weight: 500;
    letter-spacing: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Circular', sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }
/************************************************* CSS FOR Button****************************************/
  .sub-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .don-button {
    /*background-color: white; 
    color: black; 
    border: 2px solid #f44336;*/
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
  }

  .don-button:hover {
    /*background-color: #f44336;
    color: white;*/
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 8px;
  }

  .red{
    color: red;
  }
/************************************************* CSS FOR FOOTERS****************************************/
#footer {
background: rgba(246,246,246,1);
background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 5%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(5%, rgba(237,237,237,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 5%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 5%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 5%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(237,237,237,1) 5%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0 );
  padding: 0px 0 0;
  position: relative;
  clear: both;
  font-size: 19px;
}
.footer-col h3 {
  color:#EC1C1C;
  margin-bottom: 35px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  font-style: normal;
}
.footer-col h3:first-letter {
  border-bottom: 1px solid #EC1C1C;
}
.footer-col  p {
  color: #aeaeae;
}
.footer-col li a {
  color: #aeaeae;
}
.footer-col li a:hover{
  color: #EC1C1C;
  font-size: 19px;
}
.site-info{
  margin-top: 0px;
  padding: 20px;
}
img.shadow {
  width: 152px;
  border: 1px solid #efefef;
  box-shadow: 3px 3px 3px rgba(225, 225, 225, 0.9);
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.supporter-title{
  margin-bottom: 10px;
  font-weight:bold;
}
#footer ul li{ 
  border-bottom:1px solid rgba(255, 255, 255, 0.1); 
}

/************************************************* CSS FOR Radio box ****************************************/
.radio-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right:20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

/* Hide the browser's default radio button */
.radio-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
    /*background-color: #2196F3;*/
    background-color: #FFCCFF;
    /*background-color: #5bc0de;*/
    
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/************************************************* CSS FOR Check box ****************************************/
.don-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.don-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.don-checkbox:hover input ~ .checkbox-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.don-checkbox input:checked ~ .checkbox-checkmark {
    /*background-color: #2196F3;*/
    background-color: #FFCCFF;
   /*background-color: #CFF7DB;*/
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.don-checkbox input:checked ~ .checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.don-checkbox .checkbox-checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/************************************************* CSS FOR Bill ****************************************/
.billinfo {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFF;
    /*border: 1px solid #dcdcdc;*/
    border-radius: 10px;
    font-size: 24px;
    display:block;
  margin: 0 auto;
  box-shadow: 
  0px -12px 15px -4px rgba(255, 232, 240, 0.9),
  -12px 0 15px -4px rgba(255, 232, 240, 0.9),
  12px 0 15px -4px rgba(255, 232, 240, 0.9),
  0px 12px 15px -4px rgba(255, 232, 240, 0.9) 
  
   }

.billinfo-inner{
  padding-bottom: 1.5em;
  width: 1000px;
  margin: 0 auto;
  max-width:100%;
  padding: 20px;

}

.img-responsive{
display: block;
max-width: 100px;
height: auto;
margin: auto;
   }

.buttonb{
  background: linear-gradient(to bottom, #6580b5 0%, #6580b5 56%, #6580b5 56%, #4264a1 56%, #4264a1 100%);
  margin-top:20px;
  margin-bottom:20px;
  float:right;
  border-radius:5px;
  color:#FFF;
  padding:10px;
  font-size:20px;
  }


  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /*@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }*/